.chatbot-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding: 0 8px;
  position: relative;
  padding-top: 12px;
}

.chatbot-messages {
  flex: 1;
  max-height: calc(100% - 120px);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500; 
  color: #ffffff;
  overflow-y: scroll;
  scrollbar-width: thin;
}

/* .chatbot-messages::-webkit-scrollbar {
  width: 5px;
} */

.chatbot-messages::-webkit-scrollbar-thumb {
  background-color: #2b2930;
}

.chatbot-messages::-webkit-scrollbar-track {
  background-color: #2b2930;
}

.user-message {
  border-radius: 22px;
  padding: 10px 16px;
  margin-left: auto;
  margin-right: 0;
  width: 70%;
}

.chatbot-message {
  border-radius: 22px;
  padding: 10px 16px;
  margin-left: 0;
  margin-right: auto;
  width: 80%;
}

.chatbot-input {
  z-index: 1;
  margin-top: auto;
  padding: 10px 14px;
  height: 36px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  gap: 8px;
}

.credit-loss {
  background-color: #222327;
  border-radius: 672px;
  padding: 0 4px;
  font-weight: 700;
  color: #ebebeb;
}

.chatbot-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.25px;
  padding: 0;
  background: none;
  color: #ffffff;
  white-space: normal;
  overflow: hidden;
  resize: vertical;
  height: auto;
}

.ask-message {
  cursor: pointer;
}

button{
  background: transparent;
}